# Exclude all .zip files
*.zip
# Exclude all .pyc files
*.pyc
# Exclude .vector_cache folder
.vector_cache/*
# Exclude all data
data/*
# Exclude all model weights
*.ckpt
# Exclude all logs
logs/*
server_logs/*
# Exclude all checkpoints
checkpoints/*
# Exclude all results
captioning/*
result/*
# Exclude development files
development/*